// Mixins Here
.flexbox-style (@display, @direction) {
    display: @display;
    justify-content: @direction;
}

.pad-margin (@size) {
    margin: @size;
    padding: @size; 
}

.btn-style (@width, @radius) {
    width: @width;
    border-radius: @radius;
}
